docs/pdf/agent_schema.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.4.1.100.-->

<!ENTITY % unnamed "">

<!--#DOCUMENTATION:root node - a wrapper for each agent message-->
<!ELEMENT AGENT (LOGIN | CONFIG | BEAT | NOTICE | LOGOUT | NIDS | NET_TRAFFIC | PROCESS_LIST)>

<!--#DOCUMENTATION:positive integer indicating which agent thread is sending the message-->
<!ATTLIST AGENT instance  CDATA  #REQUIRED>

<!--#DOCUMENTATION:milliseconds since Unix era - 01 Jan 1970-->
<!ATTLIST AGENT timestamp CDATA  #REQUIRED>

<!--#DOCUMENTATION:agent_id + mac_id = db key for agent-->
<!ATTLIST AGENT agent_id  CDATA  #REQUIRED>

<!--#DOCUMENTATION:initial agent request
server may request heart beat / agent supplies if persistent
after: agent has permission to run, agent receives configuration
			
			
			-->
<!ELEMENT LOGIN EMPTY>

<!--#DOCUMENTATION:MAC address for the network interface used by this agent to communicate back to the security management appliance-->
<!ATTLIST LOGIN mac_id        CDATA  #REQUIRED>

<!--#DOCUMENTATION:md5 hash of the executable for this agent-->
<!ATTLIST LOGIN app_signature CDATA  #REQUIRED>

<!--#DOCUMENTATION:local TCP/IP address, from the client's point of view... may be different than what the server sees - - think DHCP

					
					-->
<!ATTLIST LOGIN local_ip      CDATA  #REQUIRED>

<!--#DOCUMENTATION:final agent request
does not require a response
agent-supplied nonce must match server-supplied nonce from config
			
			
			-->
<!ELEMENT LOGOUT EMPTY>

<!--#DOCUMENTATION:given by the server, must be passed back to complete the logout, for security-->
<!ATTLIST LOGOUT nonce CDATA  #REQUIRED>

<!--#DOCUMENTATION:out-of-band warning: from the host on which the agent is running-->
<!ELEMENT NOTICE EMPTY>

<!ATTLIST NOTICE  priority CDATA  #IMPLIED
                   text     CDATA  #REQUIRED >
<!ELEMENT TYPE EMPTY>

<!ATTLIST TYPE  class CDATA  #REQUIRED
                 desc  CDATA  #REQUIRED
                 id    CDATA  #REQUIRED >
<!ELEMENT PACKET (SRC , DST)>

<!ATTLIST PACKET  proto   (arp | tcp | udp | icmp | ip-proto-41 | other )  #REQUIRED >
<!ELEMENT ENTRY (TYPE , PACKET)>

<!ATTLIST ENTRY  priority CDATA  #IMPLIED
                  time     CDATA  #REQUIRED >
<!--#DOCUMENTATION:an alert generated by a network intrusion detection system (NIDS)-->
<!ELEMENT NIDS (ENTRY+)>

<!ATTLIST NIDS  file     CDATA  #REQUIRED
                 count    CDATA  #REQUIRED
                 platform CDATA  #REQUIRED >
<!ELEMENT PACKET (SRC , DST)>

<!ATTLIST PACKET  packet_count CDATA  #IMPLIED
                   proto               (arp | tcp | udp | icmp | ip-proto-41 | other )  #REQUIRED >
<!--#DOCUMENTATION:packet sniffer for connection traffic on the remote host-->
<!ELEMENT NET_TRAFFIC (PACKET+)>

<!--#DOCUMENTATION:primary - use default; any - promiscuous; otherwise - attr value is the named intf-->
<!ATTLIST NET_TRAFFIC device        CDATA  "primary">

<!ATTLIST NET_TRAFFIC ptime_start   CDATA  #IMPLIED>

<!ATTLIST NET_TRAFFIC ptime_end     CDATA  #IMPLIED>

<!ATTLIST NET_TRAFFIC packet_count  CDATA  #IMPLIED>

<!ATTLIST NET_TRAFFIC unknown_count CDATA  #IMPLIED>

<!ELEMENT CONNECTION (SRC , DST)>

<!ATTLIST CONNECTION  proto    (arp | tcp | udp | icmp | ip-proto-41 | other )  #REQUIRED
                       family   (ipv4 | ipv6 )  'ipv4' >
<!ELEMENT PROCESS (CONNECTION)>

<!ATTLIST PROCESS connections CDATA  #IMPLIED>

<!ATTLIST PROCESS owner_id    CDATA  #IMPLIED>

<!ATTLIST PROCESS proc_id     CDATA  #REQUIRED>

<!ATTLIST PROCESS sig         CDATA  #IMPLIED>

<!--#DOCUMENTATION:path to the log file being watched-->
<!ATTLIST PROCESS path        CDATA  #IMPLIED>

<!ATTLIST PROCESS group_id    CDATA  #IMPLIED>

<!--#DOCUMENTATION:host process list, noting sockets andd their executables-->
<!ELEMENT PROCESS_LIST (PROCESS+)>

<!ATTLIST PROCESS_LIST  count CDATA  #REQUIRED >
<!--#DOCUMENTATION:heart beat sent periodically by the agent
does not require a response
agent optionally sends current load metrics
server could track a clock drift
			
			
			-->
<!ELEMENT BEAT EMPTY>

<!--#DOCUMENTATION:current load factor for the process on which the agent is running-->
<!ATTLIST BEAT load CDATA  #IMPLIED>

<!--#DOCUMENTATION:heart beat interval - note that only one process per each physical host needs to send this-->
<!ELEMENT HEARTBEAT_INTERVAL EMPTY>

<!--#DOCUMENTATION:seconds between sending heart beats back to the server-->
<!ATTLIST HEARTBEAT_INTERVAL value CDATA  #REQUIRED>

<!--#DOCUMENTATION:NIDS only - log file to watch-->
<!ELEMENT WATCH_FILE EMPTY>

<!--#DOCUMENTATION:path to the log file being watched-->
<!ATTLIST WATCH_FILE path CDATA  #REQUIRED>

<!--#DOCUMENTATION:NET_TRAFFIC only - interface to sniff-->
<!ELEMENT INTERFACE EMPTY>

<!--#DOCUMENTATION:primary - use default; any - promiscuous; otherwise - attr value is the named intf-->
<!ATTLIST INTERFACE device            CDATA  "primary">

<!--#DOCUMENTATION:packet sampling interval in seconds, i.e. the "window" used for hashing/summarizing connection data-->
<!ATTLIST INTERFACE transmit_interval CDATA  "5">

<!ATTLIST INTERFACE report                   (normal | summary )  "normal">

<!--#DOCUMENTATION:command line options used as libpcap-style filters for packet sniffing-->
<!ATTLIST INTERFACE filter            CDATA  #IMPLIED>

<!ELEMENT TRANSMIT_INTERVAL EMPTY>

<!--#DOCUMENTATION:seconds between sending heart beats back to the server-->
<!ATTLIST TRANSMIT_INTERVAL value CDATA  #REQUIRED>

<!--#DOCUMENTATION:initial server response to the agent, downloading configuration for tasks-->
<!ELEMENT CONFIG (HEARTBEAT_INTERVAL , (WATCH_FILE | INTERFACE | TRANSMIT_INTERVAL)*)>

<!--#DOCUMENTATION:if yes then compress large messages (not beats, login/logout, etc.) using gzip-->
<!ATTLIST CONFIG compress        (no | yes )  "no">

<!--#DOCUMENTATION:given by the server, must be passed back to complete the logout, for security-->
<!ATTLIST CONFIG nonce    CDATA  #REQUIRED>

<!ELEMENT SRC EMPTY>

<!ATTLIST SRC ip     CDATA  #REQUIRED>

<!ATTLIST SRC port   CDATA  #REQUIRED>

<!--#DOCUMENTATION:MAC address for the network interface used by this agent to communicate back to the security management appliance-->
<!ATTLIST SRC mac_id CDATA  #REQUIRED>

<!ELEMENT DST EMPTY>

<!ATTLIST DST ip     CDATA  #REQUIRED>

<!ATTLIST DST port   CDATA  #REQUIRED>

<!--#DOCUMENTATION:MAC address for the network interface used by this agent to communicate back to the security management appliance-->
<!ATTLIST DST mac_id CDATA  #REQUIRED>

