docs/pdf/agent_schema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:attributeGroup name = "unnamed"/>
	<xsd:element name = "AGENT">
		<xsd:annotation>
			<xsd:documentation>root node - a wrapper for each agent message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref = "LOGIN"/>
				<xsd:element ref = "CONFIG"/>
				<xsd:element ref = "BEAT"/>
				<xsd:element ref = "NOTICE"/>
				<xsd:element ref = "LOGOUT"/>
				<xsd:element ref = "NIDS"/>
				<xsd:element ref = "NET_TRAFFIC"/>
				<xsd:element ref = "PROCESS_LIST"/>
			</xsd:choice>
			<xsd:attribute name = "instance" use = "required" type = "unsignedInt">
				<xsd:annotation>
					<xsd:documentation>positive integer indicating which agent thread is sending the message</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "timestamp" use = "required">
				<xsd:annotation>
					<xsd:documentation>milliseconds since Unix era - 01 Jan 1970</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:unsignedInt">
						<xsd:totalDigits value = "13"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "agent_id" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>agent_id + mac_id = db key for agent</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "mac_id" use = "required">
				<xsd:annotation>
					<xsd:documentation>MAC address for the network interface used by this agent to communicate back to the security management appliance</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "17"/>
						<xsd:minLength value = "12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "platform" use = "required" type = "string">
				<xsd:annotation>
					<xsd:documentation>description of OS platform and CPU architecture, to determine the required agent executable</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "LOGIN">
		<xsd:annotation>
			<xsd:documentation>initial agent request
server may request heart beat / agent supplies if persistent
after: agent has permission to run, agent receives configuration
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "app_signature" use = "required" type = "xsd:string">
				<xsd:annotation>
					<xsd:documentation>md5 hash of the executable for this agent</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "local_ip" use = "required">
				<xsd:annotation>
					<xsd:documentation>local TCP/IP address, from the client's point of view... may be different than what the server sees -- think DHCP

					
					
					
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:minLength value = "7"/>
						<xsd:whiteSpace value = "collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "LOGOUT">
		<xsd:annotation>
			<xsd:documentation>final agent request
does not require a response
agent-supplied nonce must match server-supplied nonce from config
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "nonce" use = "required">
				<xsd:annotation>
					<xsd:documentation>given by the server, must be passed back to complete the logout, for security</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:hexBinary">
						<xsd:length value = "8"/>
						<xsd:whiteSpace value = "collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "NOTICE">
		<xsd:annotation>
			<xsd:documentation>out-of-band warning: from the host on which the agent is running</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "priority" type = "xsd:positiveInteger"/>
			<xsd:attribute name = "text" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:minLength value = "1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "NIDS">
		<xsd:annotation>
			<xsd:documentation>an alert generated by a network intrusion detection system (NIDS)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ENTRY" maxOccurs = "unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "TYPE">
								<xsd:complexType>
									<xsd:attribute name = "class" use = "required" type = "xsd:string"/>
									<xsd:attribute name = "desc" use = "required" type = "xsd:string"/>
									<xsd:attribute name = "id" use = "required" type = "xsd:string"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name = "PACKET">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref = "SRC"/>
										<xsd:element ref = "DST"/>
									</xsd:sequence>
									<xsd:attribute name = "proto" use = "required">
										<xsd:simpleType>
											<xsd:restriction base = "xsd:string">
												<xsd:enumeration value = "arp"/>
												<xsd:enumeration value = "tcp"/>
												<xsd:enumeration value = "udp"/>
												<xsd:enumeration value = "icmp"/>
												<xsd:enumeration value = "ip-proto-41"/>
												<xsd:enumeration value = "other"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name = "priority" type = "xsd:positiveInteger"/>
						<xsd:attribute name = "time" use = "required">
							<xsd:simpleType>
								<xsd:restriction base = "xsd:unsignedInt">
									<xsd:totalDigits value = "13"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name = "file" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:minLength value = "1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "count" use = "required" type = "xsd:positiveInteger"/>
			<xsd:attribute name = "platform" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "NET_TRAFFIC">
		<xsd:annotation>
			<xsd:documentation>packet sniffer for connection traffic on the remote host</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "PACKET" maxOccurs = "unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref = "SRC"/>
							<xsd:element ref = "DST"/>
						</xsd:sequence>
						<xsd:attribute name = "packet_count" type = "string"/>
						<xsd:attribute name = "proto" use = "required">
							<xsd:simpleType>
								<xsd:restriction base = "xsd:string">
									<xsd:enumeration value = "arp"/>
									<xsd:enumeration value = "tcp"/>
									<xsd:enumeration value = "udp"/>
									<xsd:enumeration value = "icmp"/>
									<xsd:enumeration value = "ip-proto-41"/>
									<xsd:enumeration value = "other"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name = "family" default = "ipv4">
							<xsd:simpleType>
								<xsd:restriction base = "xsd:string">
									<xsd:enumeration value = "ipv4"/>
									<xsd:enumeration value = "ipv6"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name = "device" default = "primary" type = "string">
				<xsd:annotation>
					<xsd:documentation>primary - use default; any - promiscuous; otherwise - attr value is the named intf</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name = "ptime_start" type = "xsd:string"/>
			<xsd:attribute name = "ptime_end" type = "xsd:string"/>
			<xsd:attribute name = "packet_count" type = "xsd:string"/>
			<xsd:attribute name = "unknown_count" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "PROCESS_LIST">
		<xsd:annotation>
			<xsd:documentation>host process list, noting sockets andd their executables</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "PROCESS" maxOccurs = "unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name = "CONNECTION">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref = "SRC"/>
										<xsd:element ref = "DST"/>
									</xsd:sequence>
									<xsd:attribute name = "proto" use = "required">
										<xsd:simpleType>
											<xsd:restriction base = "xsd:string">
												<xsd:enumeration value = "arp"/>
												<xsd:enumeration value = "tcp"/>
												<xsd:enumeration value = "udp"/>
												<xsd:enumeration value = "icmp"/>
												<xsd:enumeration value = "ip-proto-41"/>
												<xsd:enumeration value = "other"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name = "family" default = "ipv4">
										<xsd:simpleType>
											<xsd:restriction base = "xsd:string">
												<xsd:enumeration value = "ipv4"/>
												<xsd:enumeration value = "ipv6"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name = "connections" type = "xsd:nonNegativeInteger"/>
						<xsd:attribute name = "owner_id" type = "xsd:string"/>
						<xsd:attribute name = "proc_id" use = "required" type = "xsd:nonNegativeInteger"/>
						<xsd:attribute name = "sig" type = "xsd:string"/>
						<xsd:attribute name = "path" type = "string">
							<xsd:annotation>
								<xsd:documentation>path to the log file being watched</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name = "group_id" type = "xsd:string"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name = "count" use = "required" type = "positiveInteger"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "BEAT">
		<xsd:annotation>
			<xsd:documentation>heart beat sent periodically by the agent
does not require a response
agent optionally sends current load metrics
server could track a clock drift
			
			
			
			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name = "load" type = "xsd:float">
				<xsd:annotation>
					<xsd:documentation>current load factor for the process on which the agent is running</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "CONFIG">
		<xsd:annotation>
			<xsd:documentation>initial server response to the agent, downloading configuration for tasks</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "HEARTBEAT_INTERVAL">
					<xsd:annotation>
						<xsd:documentation>heart beat interval - note that only one process per each physical host needs to send this</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name = "value" use = "required" type = "xsd:positiveInteger">
							<xsd:annotation>
								<xsd:documentation>seconds between sending heart beats back to the server</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
					<xsd:element name = "WATCH_FILE">
						<xsd:annotation>
							<xsd:documentation>NIDS only - log file to watch</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:attribute name = "path" use = "required" type = "xsd:string">
								<xsd:annotation>
									<xsd:documentation>path to the log file being watched</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "INTERFACE">
						<xsd:annotation>
							<xsd:documentation>NET_TRAFFIC only - interface to sniff</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:attribute name = "device" default = "primary" type = "string">
								<xsd:annotation>
									<xsd:documentation>primary - use default; any - promiscuous; otherwise - attr value is the named intf</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name = "transmit_interval" default = "5" type = "xsd:positiveInteger">
								<xsd:annotation>
									<xsd:documentation>packet sampling interval in seconds, i.e. the "window" used for hashing/summarizing connection data</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name = "report" default = "normal">
								<xsd:simpleType>
									<xsd:restriction base = "xsd:string">
										<xsd:enumeration value = "normal"/>
										<xsd:enumeration value = "summary"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name = "filter" type = "xsd:string">
								<xsd:annotation>
									<xsd:documentation>command line options used as libpcap-style filters for packet sniffing</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "TRANSMIT_INTERVAL">
						<xsd:complexType>
							<xsd:attribute name = "value" use = "required" type = "positiveInteger">
								<xsd:annotation>
									<xsd:documentation>seconds between sending heart beats back to the server</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name = "compress" default = "no">
				<xsd:annotation>
					<xsd:documentation>if yes then compress large messages (not beats, login/logout, etc.) using gzip</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "no"/>
						<xsd:enumeration value = "yes"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "nonce" use = "required">
				<xsd:annotation>
					<xsd:documentation>given by the server, must be passed back to complete the logout, for security</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:hexBinary">
						<xsd:length value = "8"/>
						<xsd:whiteSpace value = "collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SRC">
		<xsd:complexType>
			<xsd:attribute name = "ip" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:minLength value = "7"/>
						<xsd:whiteSpace value = "collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "port" use = "required" type = "xsd:nonNegativeInteger"/>
			<xsd:attribute name = "mac_id" use = "required">
				<xsd:annotation>
					<xsd:documentation>MAC address for the network interface used by this agent to communicate back to the security management appliance</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "17"/>
						<xsd:minLength value = "12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DST">
		<xsd:complexType>
			<xsd:attribute name = "ip" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:minLength value = "7"/>
						<xsd:whiteSpace value = "collapse"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name = "port" use = "required" type = "nonNegativeInteger"/>
			<xsd:attribute name = "mac_id" use = "required">
				<xsd:annotation>
					<xsd:documentation>MAC address for the network interface used by this agent to communicate back to the security management appliance</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:maxLength value = "17"/>
						<xsd:minLength value = "12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>